body {
  background-color: azure;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

* {
  font-family: 'Roboto';
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 24px;
  font-weight: bold;
  color: #3488a9;
}

p {
  margin: 0;
}

img {
  height: auto;
  width: 100%;
}

section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.navigation {
  display: flex;
  justify-content: center;
}

.nav-menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-menu-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  list-style: none;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 2rem;
  width: 100%;
  margin-top: 100px;
}

.profile-picture-container {
  width: 100%;
  max-width: 414px;
  display: flex;
  justify-content: center;
}

.profile-picture {
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.about-story {
  line-height: 150%;
}

.my-name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.computer-img {
  width: 300px;
}

#experience li {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}

.experience-item {
  margin-left: 40px;
}

/* Style for Skills list items */
#skills li {
  background-color: #eaeaea;
  padding: 10px;
  margin-bottom: 10px;
  list-style-type: disc;
}

.message {
  font-size: 24px;
  font-weight: 500;
  color: #3488a9;
  padding: 10px;

}

label {
  color: #010007;

}

input,
textarea {
  border: 1px solid #010007;
  border-radius: 5px;
  padding: 5px 0 5px 5px;
  /* top right bottom left */
}

#usersEmail {
  width: 165px;
}

.input-container {
  margin: 10px 0;
  /* top/bottom right/left */
}

.submit-btn {
  padding: 10px;
  background: #3488a9;
  color: rgb(13, 13, 13);
  border: 1px solid #3488a9;
  border-radius: 5px;
}

.submitted-message {
  padding: 10px;
  color: rgb(13, 13, 13);
  border: 1px solid #3488a9;
  border-radius: 5px;
}

.edit-button {
  padding: 10px;
  background: #3488a9;
  color: rgb(13, 13, 13);
  border: 1px solid #3488a9;
  border-radius: 5px;
}

.remove-button {
  padding: 10px;
  background: red;
  color: rgb(13, 13, 13);
  border: 1px solid red;
  border-radius: 5px;
  margin-left: 5px;
}

/* list-style-type: disc; */
footer {
  background-color: #eaeaea;
  padding: 20px;
  color: #000000;
}

#skills {
  list-style-type: disc;
}

/* Make the header sticky/fixed on the page */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eaeaeacc;
  /* Adjust the last value (0.9) to control the transparency */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

header .nav-menu a {
  color: #3488a9;
}

.experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  /* gap: 20px; */
}

.experience-item {
  background-color: #f2f2f2;
  padding: 10px;
}

/* message form using grid */
.message-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-container {
  margin-bottom: 10px;
}

label {
  color: #010007;
  margin-bottom: 5px;
}

input,
textarea {
  border: 1px solid #010007;
  border-radius: 5px;
  padding: 5px;
}

.submit-btn {
  padding: 10px;
  background: #3488a9;
  color: white;
  border: 1px solid #3488a9;
  border-radius: 5px;
  align-self: flex-start;
  margin-top: 10px;
}


@media screen and (min-width: 768px) {
  .top-container {
    flex-direction: row;
  }

  .about {
    width: 50%;
    padding-top: 30px;
  }

  .experience {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .experience {
    width: 90%;
  }
}